.main--frase{
    font-size: 48px;
    color: #000;
    transition: .4s all;
}

.main--frase::after{
    content: "|";/*💗💜*/
    margin-left: 15px;
    color: #000;
    transition: .4s all;
    animation-name: piscarPali;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes piscarPali {
    from{
        opacity: 1;
    } to {
        opacity: 0;
    }
}