@import '../../_common-css/animations.css';

.main--frase{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    transition: .4s all;
}

.main--frase::after{
    content: "|";/*💗💜*/
    margin-left: 15px;
    transition: .4s all;
    animation-name: piscarPali;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.main--frase.dark{
    color: var(--text-color-light);
}

.main--frase.light{
    color: var(--text-color-dark);
}