/* Cores principais */
:root {
    --primary-color: #4241FF; /* Roxo principal */
    --secondary-color: #45b08e; /* Verde */
    --tertiary-color: #cfcfff; /* Cinza (roxo) claro */
    --light-background: #ffffff; /* Branco */
    --dark-background: #2c3e50; /* Cinza escuro */
    --text-color-light: #fff; /* Branco */
    --text-color-dark: #000; /* Preto */
    --highestlight-color: #e2e2ff; /* Roxo mais claro */
    --highlight-color: #9191ff; /* Roxo claro */
    --highlight-dark: #6767fd; /* Roxo médio */
    --alert-color: #d92929; /* Vermelho */
    --link-color: blue;
    --link-hover-color: #040042;
    --primary-color-dark: #2e2e2e;
    --primary-color-with-opacity: #4141ff8a; /* Roxo principal com opacidade */
    --tertiary-color-hover: #b3b3fc; /*Hover cinza (roxo) claro*/
}