@import './_common-css/animations.css';
@import './_common-css/variables.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.default-pages{
  padding: 30px 120px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s all;
}

.default-pages.tittle{
  min-height: calc(100vh - 266px);
  justify-content: flex-start;
}

.default-pages .section-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.default-pages.light{
  background-color: var(--light-background);
}

.default-pages.dark{
  background-color: var(--primary-color-dark);
}

@media (max-width: 800px){
  .default-pages{
    padding: 30px;
  }
  .default-pages.tittle{
    height: 100vh;
  }
}