.curriculum-sheet{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    width: 780px;
    animation: fadeInUp 1s ease-out;
    -webkit-box-shadow: 6px 0px 115px -22px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 6px 0px 115px -22px rgba(0, 0, 0, 0.6);
    box-shadow: 6px 0px 115px -22px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.curriculum-sheet .curriculum-sheet--header{
    z-index: 100;
    width: 85%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    margin-top: 48px;
    margin-bottom: 24px;
    transition: 0.7s all;
    animation: fadeInUp .5s ease-out;

}

.curriculum-sheet .curriculum-sheet--header.light{
    background-color: var(--primary-color-dark);
    border: 16px solid var(--light-background);
}

.curriculum-sheet .curriculum-sheet--header.dark{
    background-color: var(--light-background);
    border: 16px solid var(--primary-color-dark);
}

.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__img{
    width: 130px;
    height: 130px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: var(--tertiary-color-hover);
    cursor: pointer;
    object-fit: cover;
    -webkit-box-shadow: inset 6px 0px 115px -22px rgba(0, 0, 0);
    -moz-box-shadow: inset 6px 0px 115px -22px rgba(0, 0, 0);
    box-shadow: inset 6px 0px 115px -22px rgba(0, 0, 0);
    transition: box-shadow .4s;
}

.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__img:hover{
    background-color: var(--tertiary-color);
    box-shadow: none;
}

.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__text-box{
    display: flex;
    flex-direction: column;
    
}
.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__text-box h4{
    font-size: 18px;
    transition: 0.7s all;
}
.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__text-box h4.light{
    color: var(--text-color-light); 
}

.curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__text-box h4.dark{
    color: var(--text-color-dark);
}

.curriculum-sheet .curriculum-sheet--vertical-box.right{
    position: absolute;
    width: 58%;
    height: 100%;
    right: 0;
    transition: 0.7s all;
}

.curriculum-sheet .curriculum-sheet--vertical-box.right.dark{
    background-color: var(--primary-color-dark);
}

.curriculum-sheet .curriculum-sheet--vertical-box.left{
    position: absolute;
    width: 42%;
    height: 100%;
    background-color: var(--primary-color);
    left: 0;
}

.curriculum-sheet .curriculum-sheet--texts{
    z-index: 100;
    width: 85%;
    color: var(--text-color-light);
    padding: 16px;
    margin-bottom: 24px;
    transition: 0.7s all;
    animation: fadeInUp .5s ease-out;
}

.curriculum-sheet .curriculum-sheet--texts.light{
    background-color: var(--primary-color-dark);
    color: var(--text-color-light);
    border: 16px solid var(--light-background);
}

.curriculum-sheet .curriculum-sheet--texts.dark{
    background-color: var(--light-background);
    color: var(--text-color-dark);
    border: 16px solid var(--primary-color-dark);

}

.curriculum-sheet .curriculum-sheet--texts p{
    text-align: justify;
}

.curriculum-sheet .curriculum-sheet--texts p a{
    text-decoration: none;
    color: var(--tertiary-color-hover)
}

.curriculum-sheet .curriculum-sheet--texts ul li{
    margin-left: 24px;
}

.download-curriculum-tag{
    width: 100px;
    height: 30px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    top: -30px;
    right: 20px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s all;
    cursor: pointer;
}

.download-curriculum-tag.light{
    background-color: var(--primary-color-dark);
}

.download-curriculum-tag.dark{
    background-color: var(--light-background);
}

@media (max-width: 800px) {
    .curriculum-sheet{
        width: 100%;
    }
    .curriculum-sheet .curriculum-sheet--header{
        height: 150px;
        justify-content: space-between;
    }
    .curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__img img{
        width: 60px;
    }
    .curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__img{
        width: 60px;
        height: 60px;
    }

}

@media (max-width: 560px) {
    .curriculum-sheet .curriculum-sheet--header{
        height: 100px;
        width: 95%;
    }
    .curriculum-sheet .curriculum-sheet--header.light{
        border: 8px solid var(--light-background);
    }
    .curriculum-sheet .curriculum-sheet--header.dark{
        border: 8px solid var(--primary-color-dark);
    }
    .curriculum-sheet .curriculum-sheet--texts{
        width: 95%;
    }
    .curriculum-sheet .curriculum-sheet--texts.light{
        border: 8px solid var(--light-background);
    }
    .curriculum-sheet .curriculum-sheet--texts.dark{
        border: 8px solid var(--primary-color-dark);
    
    }
    .curriculum-sheet .curriculum-sheet--header .curriculum-sheet--header__text-box h4{
        font-size: 16px;
    }
    .curriculum-sheet h2{
        font-size: 16px;
    }
    .curriculum-sheet h3{
        font-size: 14px;
    }
    .curriculum-sheet p{
        font-size: 13px;
    }
    .curriculum-sheet li{
        font-size: 13px;
    }
}