@import "../../_common-css/animations.css";

.skill-board{
    animation: fadeInStretch 1s ease-out forwards;
}

.skill-board .skill-board--header h2{
    color:var(--text-color-light);
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    align-self: flex-start;
    font-size: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.skill-board .skill-board--header p{
    padding: 25px;
    background-color: var(--tertiary-color);
    font-size: 21px;
}

.skill-board .skill-board--list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.skill-board .skill-board--list .skill-board--list__item{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    cursor: pointer;
    transition: 0.5s all;
}

.skill-board .skill-board--list .skill-board--list__item:hover{
    transform: scale(1.05);
}
.skill-board .skill-board--list .skill-board--list__item h3{
    font-size: 22px;
    color: var(--text-color-light);
}

.skill-board .skill-board--list .skill-board--list__item p{
    word-spacing: 22px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-light);
}

.skill-board .skill-board--list .skill-board--list__item#learn-wanted{
    background-color: var(--highestlight-color);
}

.skill-board .skill-board--list .skill-board--list__item#learn-wanted p, .skill-board .skill-board--list .skill-board--list__item#learn-wanted h3{
    color: var(--text-color-dark);
}

.skill-board .skill-board--list .skill-board--list__item#little-knowledge{
    background-color: var(--highlight-color);
}

.skill-board .skill-board--list .skill-board--list__item#regular-knowledge{
    background-color: var(--highlight-dark);
}

.skill-board .skill-board--list .skill-board--list__item#good-knowledge{
    background-color: var(--primary-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media (max-width: 800px) {
    .skill-board .skill-board--header h2{
        font-size: 30px;
    }
    .skill-board .skill-board--header p{
        font-size: 16px;
    }
    .skill-board .skill-board--list .skill-board--list__item{
        flex-direction: column;
        height: 100%;
        padding: 16px;
        text-align: center;
    }
    .skill-board .skill-board--list .skill-board--list__item p{
        height: 100%;
        margin-top: 16px;
    }
}