@import "../../_common-css/animations.css";

.project-slide{
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    margin: 50px 0;
    position: relative;
    animation: fadeInUp 2s ease-out;
}

.project-slide .project-slide--image-div{
    width: 310px;
    height: 310px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: .5s all ease-in;
    cursor: pointer;    
}

.project-slide .project-slide--image-div.light{
    -webkit-box-shadow: 6px 0px 30px -1px #8d8d8d;
    -moz-box-shadow: 6px 0px 30px -1px #8d8d8d;
    box-shadow: 6px 0px 30px -1px #8d8d8d;
}

.project-slide .project-slide--image-div.dark{
    -webkit-box-shadow: 6px 0px 30px -1px rgba(141, 141, 141,0.3);
    -moz-box-shadow: 6px 0px 30px -1px rgba(141,141,141,0.3);
    box-shadow: 6px 0px 30px -1px rgba(141,141,141,0.3);
}

.project-slide .project-slide--image-div.right{
    right:0;
}

.project-slide .project-slide--image-div img{
    width: 100%;
    height: 100%;
}

.project-slide .project-slide--image-div.closed-img-div-left{
    margin-left: calc(100% - 300px);
}

.project-slide .project-slide--image-div.closed-img-div-right{
    margin-right: calc(100% - 300px);
}

.project-slide .project-slide--cover-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 0;
    height: 300px;
    width: calc(100% - 300px);
    background-color: var(--tertiary-color);
    font-size: 35px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in;
    -webkit-box-shadow: inset 6px 0px 115px -22px rgba(191,191,230,1);
    -moz-box-shadow: inset 6px 0px 115px -22px rgba(191,191,230,1);
    box-shadow: inset 6px 0px 115px -22px rgba(191,191,230,1);
}

.project-slide .project-slide--cover-div.left{
    right:0;
}

.project-slide .project-slide--cover-div.right{
    left:0;
}

.project-slide .project-slide--cover-div.closed-cover-div-left, .project-slide .project-slide--cover-div.closed-cover-div-right{
    width: 0;
}

.project-slide .project-slide--cover-div.closed-cover-div-left span{
    display: none;
}

.project-slide .project-slide--cover-div.closed-cover-div-right span{
    display: none;
}

.project-slide .project-slide--cover-div:hover{
    background-color: var(--tertiary-color-hover);
}

.project-slide .project-slide--texts{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: calc(100% - 300px);
}

.project-slide .project-slide--texts.right{
    margin-left: 300px;
}

.project-slide .project-slide--texts h3{
    font-size: 30px;
    cursor: pointer;
}

.project-slide .project-slide--texts p{
    font-size: 19px;
}

.project-slide .project-slide--texts a{
    text-decoration: none;
    color: var(--text-color-dark);
}

.project-slide .project-slide--texts.dark p{
    color: var(--text-color-light);
}

.project-slide .project-slide--texts.dark h3{
    color: var(--text-color-light);
}

.project-slide .project-slide--texts.dark span{
    color: var(--text-color-light);
}

.linkRepo{
    z-index: 100;
    color: blue !important;
    transition: .5s all;
}

.linkRepo.dark{
    z-index: 100;
    color: #9e9eff !important;
}

.linkRepo:hover{
    color: #040042 !important;
}